@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3.5rem;
  --animate-snow-1: animate-snow-1 5s infinite ease-in-out;
  --animate-snow-2: animate-snow-2 5s infinite ease-in-out;

  --first-color: hsl(210, 80%, 54%);
  --first-color-alt: hsl(210, 80%, 50%);
  --title-color: hsl(210, 24%, 90%);
  --text-color: hsl(210, 16%, 70%);
  --white-color: #fff;
  --body-color: hsl(210, 32%, 4%);

  --body-font: 'Poppins', sans-serif;
  --second-font: 'Dancing Script', cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section-title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}

@keyframes animate-snow-1 {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes animate-snow-2 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: backgorund 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle,
.nav-close {
  display: flex;
  color: var(--white-color);
}

.nav-logo img {
  width: 30px;
  transform: rotate(-10deg);
}

.nav-logo {
  align-items: center;
  column-gap: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
}

.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 3.5rem;
    transition: top 0.4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav-link {
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: var(--body-color) 0.4s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-img-1,
.nav-img-2 {
  position: absolute;
}

.nav-img-1 {
  width: 40px;
  top: 6rem;
  left: 2.5rem;
  transform: rotate(-15deg);
}
.nav-img-2 {
  width: 60px;
  right: 1rem;
  bottom: 2rem;
  transform: rotate(15deg);
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}
.bg-header {
  background: var(--body-color);
}
.home {
  position: relative;
  background: linear-gradient(180deg, hsl(210, 88%, 20%), hsl(210, 70%, 58%));
  height: 650px;
  padding-top: 7rem;
  overflow: hidden;
}
.home-title {
  color: white;
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-top: 1.5rem;
}
.home img {
  position: absolute;
}

.home-mountain-1,
.home-snow {
  bottom: 0;
}

.home-village,
.home-pine,
.home-moon,
.home-trineo {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.home-village {
  width: 260px;
  bottom: 1rem;
}

.home-pine {
  width: 250px;
  bottom: 4rem;
}

.home-mountain-2 {
  bottom: 3rem;
}
.home-mountain-3 {
  bottom: 6rem;
}
.home-moon {
  width: 300px;
  bottom: 8.5rem;
}
.home-trineo {
  width: 250px;
  bottom: 14.5rem;
}
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(210, 8%, 15%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(210, 8%, 25%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(210, 8%, 35%);
}
.about-container {
  position: relative;
  row-gap: 3.5rem;
}
.about-data {
  text-align: center;
}

.about-desc {
  margin-bottom: 2rem;
}
.about-img {
  width: 320px;
  justify-self: center;
}

.about-snow1,
.about-snow2 {
  width: 50px;
  position: absolute;
}

.about-snow1 {
  top: 12rem;
  left: 1.5rem;
  animation: var(--animate-snow-1);
}
.about-snow2 {
  bottom: 0.5rem;
  right: -0.75rem;
  animation: var(--animate-snow-2);
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: white;
  font-weight: var(--font-medium);
  transition: backgorund 0.4s, box-shadow 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 32px hsla(210, 80%, 54%, 0.7);
}

.send-container {
  position: relative;
  grid-template-columns: 200px;
  justify-content: center;
  row-gap: 3rem;
  padding-top: 1.5rem;
}
.send-card {
  text-align: center;
}

.send-img {
  width: 180px;
  margin-bottom: 0.75rem;
}
.send-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.send-desc {
  font-size: var(--small-font-size);
  padding-inline: 2.5rem;
}
.send-snow-1,
.send-snow-2,
.send-snow-3 {
  width: 50px;
  position: absolute;
}
.send-snow-1 {
  left: 0;
  top: 7rem;
  animation: var(--animate-snow-1);
}
.send-snow-2 {
  right: 0;
  top: 23rem;
  animation: var(--animate-snow-2);
}
.send-snow-3 {
  left: 0;
  bottom: 9rem;
  animation: var(--animate-snow-1);
}
